@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");


/*navigation*/
.nav-navigation {
  position: relative; /* 상대적 위치 설정 */
  margin-bottom: 0px;
  padding-bottom: 0px;
  height: 20vh;
}

.nav-banner {
  width: 100%;
  height: 20vh;
  object-fit: cover;
  margin: 0; /* margin 속성을 추가해서 모든 마진을 0으로 설정 */
  padding: 0; /* padding 속성도 추가해서 모든 패딩을 0으로 설정 */
}

.nav-banner-text {
  position: absolute; /* 절대 위치 설정 */
  top: 50%; /* 세로 중앙 정렬 */
  left: 50%; /* 가로 중앙 정렬 */
  transform: translate(-50%, -50%); /* 가운데 정렬을 위한 변환 */
  color: #fff; /* 텍스트 색상 설정 */
  font-size: 35px; /* 텍스트 크기 설정 */
  font-weight: bold; /* 텍스트 굵기 설정 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 텍스트 그림자 설정 */
  margin-bottom: 0px;
  padding-bottom: 0px;
}